services:
  traefik:
    image: traefik:v3.1
    container_name: traefik
    restart: unless-stopped

    command:
      - "--api.dashboard=true"
      - "--api.insecure=false"

      # Entrypoints cambiados para evitar conflicto con Plesk
      - "--entrypoints.web.address=:8080"
      - "--entrypoints.websecure.address=:8443"

      # No redirección automática en HTTP (la hace Plesk)
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"

      # LetsEncrypt desactivado (Plesk gestiona SSL)

    ports:
      - "127.0.0.1:8080:8080"
      - "127.0.0.1:8443:8443"

    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"

    networks:
      - traefik_proxy

networks:
  traefik_proxy:
    external: true
