services:
  dozzle:
    image: amir20/dozzle:latest
    container_name: dozzle
    restart: unless-stopped

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro

    labels:
      - "traefik.enable=true"

      - "traefik.http.routers.dozzle.rule=Host(`${SERVICE_URL_WEB}`)"
      - "traefik.http.routers.dozzle.entrypoints=websecure"
      - "traefik.http.services.dozzle.loadbalancer.server.port=8080"

    networks:
      - traefik_proxy

networks:
  traefik_proxy:
    external: true
