services:
  netdata:
    image: netdata/netdata:latest
    container_name: netdata
    hostname: netdata
    restart: unless-stopped

    cap_add:
      - SYS_PTRACE

    security_opt:
      - apparmor:unconfined

    volumes:
      - netdataconfig:/etc/netdata
      - netdatalib:/var/lib/netdata
      - netdatacache:/var/cache/netdata
      - /etc/passwd:/host/etc/passwd:ro
      - /etc/group:/host/etc/group:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /etc/os-release:/host/etc/os-release:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro

    environment:
      - DOCKER_HOST=unix:///var/run/docker.sock

    labels:
      - "traefik.enable=true"

      # Reemplaza monitor.midominio.com
      - "traefik.http.routers.netdata.rule=Host(`${SERVICE_URL_WEB}`)"
      - "traefik.http.routers.netdata.entrypoints=websecure"
      - "traefik.http.services.netdata.loadbalancer.server.port=19999"

    networks:
      - traefik_proxy

volumes:
  netdataconfig:
  netdatalib:
  netdatacache:

networks:
  traefik_proxy:
    external: true
